#wrapper {
  max-width: 450px;
  padding: 10px;
  padding-left: 20px;
  margin: 150px auto;
  box-shadow: 10px 7px 8px 7px #b9b6b6;
  min-height: 180px;
}

h1 {
  font-family: "Stardos Stencil", cursive;
  margin: 0;
  margin-bottom: 10px;
}

#password {
  border-style: none;
  min-width: 91%;
  font-size: 20px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

#input-container {
  padding: 6px;
  padding-left: 9px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 350px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#copy-btn {
  border-style: none;
  background-color: transparent;
}

i {
  font-size: 20px;
  color: gray;
}

i:hover {
  transform: scale(1.1);
}

#generate-btn {
  border-style: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(24, 23, 23);
  color: blanchedalmond;
  font-weight: bolder;
  padding: 10px;
}

button:focus {
  outline: none;
}
